<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Port Scanner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script>
        function showLoader() {
            document.getElementById("loader").style.display = "block";
        }
    </script>
</head>
<body>
    <h1>Python Web Port Scanner</h1>
    <form method="POST" onsubmit="showLoader()">
    <label>Target IP:</label><br>
    <input type="text" name="target" required><br>

    <label>Start Port:</label><br>
    <input type="number" name="start" required><br>

    <label>End Port:</label><br>
    <input type="number" name="end" required><br>

    <label>Scan Type:</label><br>
    <select name="scan_type" required>
        <option value="TCP">TCP</option>
        <option value="UDP">UDP</option>
    </select><br>

    <label>Export Results:</label><br>
    <select name="export_type">
        <option value="None">None</option>
        <option value="TXT">TXT</option>
        <option value="CSV">CSV</option>
    </select><br>

    <button type="submit">Scan</button>
    </form>
    <div id="loader" class="loader" style="display:none;"></div>

    {% if result %}
        <h2>Scan Results:</h2>
        <pre>{{ result }}</pre>
    {% endif %}
</body>
</html>